body {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    color: #163152;
    background-color: #FDFDFF;
    margin: 0;
}

.main-header {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 55px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
    margin-right: 471px;

    margin-top: 0;
    margin-bottom: 0;
    height: 68px;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 559px;

    display: flex;
    flex-wrap: wrap;
}

.navigation-list-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color :#163152;
    text-decoration: none;
}

.navigation-list-item {
    margin-right: 30px;
}

.navigation-list-item:last-child {
    margin-right: 0;
}

.navigation-list-item a:hover, .profile:hover {
    opacity: 0.5;
}

.navigation-list-item a:active, .profile:active {
    opacity: 0.3;
}

.profile {
    margin-left: auto;
    width: 36px;
    height: 36px;

    border: 1px solid #00C6BD;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin: 0;
    padding: 0;
    margin-bottom: 120px; 
}

h1 {
    margin-top: 0;
    font-style: italic;
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;

    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 0;
}

.time-period {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;

    margin-top: 0;
    margin-bottom: 10px;
}

.command-set {
    margin: 0 70px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.celebration {
    margin: 0 70px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.celebration-container {
    display: block;
    text-align: right;
}

.celebration-container h2 {
    margin-bottom: 18px;
    margin-left: auto;
}

.command-set-container, .celebration-container {
    width: 400px;
}

.command-set-container h2 {
    margin-bottom: 18px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    width: max-content;

    padding-bottom: 15px;
    border-bottom: 2px solid #00C6BD;

    margin-top: 0;
}

.yacht-rent {
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
}

.yacht-rent h2 {
    margin-bottom: 38px;
}

.yacht-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    width: 310px;
    padding: 30px;
    box-shadow: 0px 4px 30px 0px #1631521F;
}

.card-img {
    height: 141px;
}

.card h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;

    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 18px;
}

.description {
    font-size: 14px;
    line-height: 24px;

    margin-bottom: 15px;
}

.rooms {
    font-size: 14px;
    line-height: 19px;
    list-style-type: disc;

    margin: 0;
    padding: 0;

    margin-bottom: 29px;
}

.rooms li {
    margin-bottom: 4px;
    margin-left: 18px;
}

.rooms li:last-child {
    margin-bottom: 0;
}

.card-price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;

    margin: 0;
}

.gallery {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.gallery h2 {
    margin: 0 auto;
    margin-bottom: 38px;
}

.gallery-container {
    display: flex;
}

.active-img {
    width: 970px;
    margin-right: 30px;
}

.gallery-preview {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 170px;
}

.gallery-preview a.active-item::before {
    background: transparent;
}

.gallery-preview img {
    display: block;
}

.preview-item {
    width: 170px;
    margin-bottom: 30px;
}

.preview-item a {
    position: relative;
    display: block;
}

.preview-item a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FDFDFF80;
}

.preview-item:last-child {
    margin-bottom: 0;
}

.news {
    font-size: 18px;
    
    margin: 0 200px;
    margin-bottom: 120px;
}

.news h2 {
    margin: 0 auto;
    margin-bottom: 38px;
}

figure {
    margin: 0;
    padding: 0;

    margin-bottom: 33px;
}

figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;

    margin-top: 17px;
}

.news-text p {
    margin-bottom: 12px;
}

.news h3 {
    font-size: 22px;
    line-height: 26px;

    margin-bottom: 27px;
}

.news h4 {
    font-size: 20px;
    line-height: 26px;
    text-transform: none;
}

.command-list-container {
    margin-top: 12px;
    margin-bottom: 30px;
}

.command-list-container h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.command-list {
    margin: 0;
    padding: 0;
}

.command-list-item {
    margin-left: 19px;
    margin-bottom: 8px;
    padding: 0;
}

.command-list-item:last-child {
    margin-bottom: 0;
}

.champions {
    margin-bottom: 38px;
}

blockquote {
    font-size: 26px;
    line-height: 36px;

    margin: 0;
    margin-bottom: 30px;

    padding-left: 20px;
    border-left: 2px solid #00C6BD;
}

.congratulations {
    margin-bottom: 40px;
}

.review {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 60px;
    height: 60px;

    margin-right: 15px;
}

.username p {
    font-size: 16px;
    line-height: 19px;
}

.username b {
    padding: 0;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 9px;
}

.data {
    color: #8693A4;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.sharing {
    width: 26px;
    height: 22px;

    margin-left: auto;
}

.contacts {
    display: flex;
    flex-direction: row-reverse;

    padding: 0;
    margin-right: 160px;
    margin-bottom: 120px;
}

.map {
    width: 670px;
    height: 351px;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.contacts-container {
    margin-top: 50px;
    margin-right: auto;
}

.contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-list-item {
    line-height: 22px;
}

strong {
    margin-right: 10px;
}

.contacts h2 {
    margin-top: 0;
    margin-bottom: 18рpx;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 15px;
}

.social-list-item a {
    border: 1px solid #00C6BD;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer {
    width: 1170px;
    padding: 0 55px;
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 60px;

    border-top: 1px solid #1631521A;
}

.footer-container {
    font-size: 10px;
    line-height: 12px;
    display: flex;
}

.footer-container h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-navigation-topics ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-logo {
    width: 175px;
    margin-right: 125px;
}

.footer-img {
    display: block;
    width: 100px;
    height: 106px;
    margin-bottom: 30px;
}

.copyright p {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.footer-navigation-topics {
    font-size: 14px;
    line-height: 16px;
    list-style: none;

    width: 870px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-list-item {
    width: 165px;
}

.footer-item {
    margin-bottom: 12px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

h4 {
    text-transform: uppercase;
}

.main-footer ul, .main-header ul {
    list-style: none;
}